@import "tailwindcss";

:root {
  /* Custom color palette */
  --color-primary-dark: #1D1E3C;
  --color-primary-blue: #283276;
  --color-primary-purple: #5C0F38;
  --color-accent-red: #D92424;
  --color-accent-orange: #DF6E00;
  --color-neutral-beige: #E6E1DB;
  --color-secondary-blue: #406BDE;
  --color-secondary-purple: #69408C;
  --color-secondary-pink: #E894C2;
  --color-secondary-red: #E86366;
  --color-secondary-yellow: #FFCC52;
  --color-light-beige: #F5F2EE;
  --color-light-blue: #B0BFF0;
  --color-light-purple: #D9C9E5;
  --color-light-pink: #F0C9DE;
  --color-light-red: #F5A39E;
  --color-light-yellow: #FFDE8C;
  --color-off-white-1: #FAFAF7;
  --color-off-white-2: #DBE3FF;
  --color-off-white-3: #F0E3FA;
  --color-off-white-4: #FCE5F2;
  --color-off-white-5: #FAD9D6;
  --color-off-white-6: #FFF0C7;
  --color-white: #FFFFFF;

  --background: #f4f6f8;
  --foreground: var(--color-primary-dark);
  --shadow-card: 0 1px 3px rgba(0, 0, 0, 0.05);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
